In [1]:
print('hello worlf')

hello worlf

In [2]:
print('hello world');

hello world

In [4]:
print('variable is a reserved memory location for to store values');

variable is a reserved memory location for to store values

In [6]:
print('variable allocate or reserved or space the chunk area of memory to store value');

variable allocate or reserved or space the chunk area of memory to store value

In [7]:
print('variable can not have number before text or special character except dollar sign');

variable can not have number before text or special character except dollar sign

In [8]:
a=5;
b=6;
c=a+b;
print(c)

11

In [10]:
x= "ali ";
y="mughal"
z=x+y;
print(z)

ali mughal

In [ ]:
# Concatenate 
f="4 ";
g="8";
h=f+g;
print(h);

In [14]:
a="10";
b=20;
c=a+b;
print(c)

TypeError: can only concatenate str (not "int") to str

In [ ]:
x=8;
y= x+7;
z=y-x+1;

#division multiplicarion addition and than subtraction

print(z);

In [19]:
a= 12-4 / 2 + 9 * 5

print(a);

55.0

In [21]:
a=((12-4)/(2+9)*5);

#REDUCTION OF REDUNCY

print(a);

3.6363636363636367

In [26]:
x=10;
y=x % 3;
print(y);

1

In [28]:
f= 10;
f=12;
print(f)

12

In [29]:
f=10;
f=f+1;
print(f);

11

In [31]:
g=5;
g=g+2;
print(g);

7

In [32]:
a=3;
a+=3;

print(a);

6

In [36]:
a="ali mughal";
print("my name is " +a);

#print(a);

my name is ali mughal

In [46]:
gender= "male"
if gender == "male":

 print("allow for ride");

allow for ride

In [47]:
gender = "female"
if gender=="female":
    
 print("dont let her to go");

dont let her to go

In [53]:
gender= "male"
if gender =="female":

 print("allow");
else:
 print("don't");

don't

In [54]:

gender= "male"
if gender !="female":

 print("allow");
else:
 print("don't");

allow

In [59]:
age = 14;
gender = "male";
if age > 14 or gender == "male":
 print("allow");
else:
 print("rok lo");

allow

In [63]:
percent = 82;
if percent < 100 and percent > 80:
 print("Grade A+");
elif percent <80 and percent >70:
 print("Grade B+");
elif percent <70 and percent > 60:
 print("Grade C+");
elif percent <60 and percent > 50:
 print("Grade D+");
elif percent <50 and percent > 40:
 print("Grade F+");
else:
 print("fail");

Grade A+

In [81]:
english = 100;
islamyat = 101;
math = 100;

Total = 300;

Obtain = english + islamyat + math;

percentage = (Obtain / Total)*100;

print(percentage);

100.33333333333334

In [82]:
if percentage >=80:
  print("A");
elif percentage >=70:
 print("B");
elif percentage >=60:
 print("c");
elif percentage >=50:
 print("d");
elif percentage >=40:
 print("c");
elif percentage >=30:
 print("fail");
else:
 print("use valid number");

A

In [84]:
print("Enter Marks Obtained in 3 Subjects: ")

english= 90;
islamyat =89;
math=94;

tot = english + islamyat + math
per = tot/3

if per>=91 and per<=100:
    print("Your Grade is A1")
elif per>=81 and per<91:
    print("Your Grade is A2")
elif per>=71 and per<81:
    print("Your Grade is B1")
elif per>=61 and per<71:
    print("Your Grade is B2")
elif per>=51 and per<61:
    print("Your Grade is C1")
elif per>=41 and per<51:
    print("Your Grade is C2")
elif per>=33 and per<41:
    print("Your Grade is D")
elif per>=21 and per<33:
    print("Your Grade is E1")
elif per>=0 and per<21:
    print("Your Grade is E2")
else:
    print("Invalid Input!")

Enter Marks Obtained in 3 Subjects:
Your Grade is A1

In [6]:
english=89;
islamyat=91;
math=9;


tot=300;
obt= english + math + islamyat;


per= (obt/tot)*100;

if per>=80 and per < 100:
    print("A+");

elif per>=70 and per < 80:
    print("A");
    
elif per>=60 and per < 70:
    print("B");
    
elif per>=50 and per < 60:
    print("C");
    
elif per>=40 and per < 50:
    print("C");
    
elif per>=33 and per < 40:
    print("D");
    
elif per<33 :
    print("Fail");
    
elif per <0 or per >100:
    print("You didn't input a write value");
    
else:
    print("fail");

B