In [1]:
print("Hello Python Folks")

Hello Python Folks

In [5]:
print("Programmer can easyly understand high level languaeg and machine language can easily understand low level language");

Programmer can easyly understand high level languaeg and machine language can easily understand low level language

In [23]:

print("HIGH Level requires a compiler/interpreter to be translated into machine code", 
      "Low level requires an assembler that would translate instructions.")

HIGH Level requires a compiler/interpreter to be translated into machine code Low level requires an assembler that would translate instructions.

In [8]:
print("Compiler is a translator which compile entire code at once and translate high level language to machine langauge.");

Compiler is a translator which compile entire code at once and translate high level language to machine langauge.

In [9]:
print("and enterpretor translate line by line and translate high level language to machine language");

and enterpretor translate line by line and translate high level language to machine language

In [11]:
print("Assembler is a software that convert low level program written in assembly language in machine langauge.");

Assembler is a software that convert low level program written in assembly language in machine langauge.

In [12]:
print("Variable reserve the memory where we store the data");

Variable reserve the memory where we store the data

In [14]:
name = "mark";
print(name);

mark

In [15]:
num = 0.75
total = num + 200
print(total);

200.75

In [17]:
#Legal and Illegal Variable
""" As and break false true with print pass else non local from global if import class break del def is an in from for"""

' As and break false true with print pass else non local from global if import class break del def is an in from for'

In [18]:
global = 3
print(print);

SyntaxError: invalid syntax (<ipython-input-18-01ea46990b57>, line 1)

In [24]:
#Legal Variables
""" It is case sensitive, Variavbles can contain lowercase and uppercase only",
"and underscores and number after characters are legals"""

' It is case sensitive, Variavbles can contain lowercase and uppercase only",\n"and underscores and number after characters are legals'

In [25]:
#Modulus tells us reminder
total = 10 % 3
print(total);

1

In [26]:
a = 5;
a= a + 1;
print(a);

6

In [29]:
a= 10
a += 2
print(a);

12

In [30]:
#Ambiguity DMAS RULE

In [32]:
total = 2+4*3
print(total);

14

In [33]:
total = (2+4)*3
print(total);

18

In [34]:
#To have value in decimal use one division
total = 2+4*3/3
print(total);

6.0

In [35]:
#To have value in non decial form use double decimal
total = 2+4*3//3
print(total);

6

In [38]:
#Concatenation
#Merging of two strings is concatenation

greeting = "Hello"
address = "  World"
whole_greeting = greeting + address

print(whole_greeting);

Hello  World

In [39]:
print("my name is " + "os98k");

my name is os98k

In [40]:
a= 3**2
print(a)

9

In [41]:
#string is a group of characters

In [43]:
#String cconcatenation
a= "4";
b="6"
c= a+b;
print(c);

46

In [46]:
#String contenatioin error
a=4;
b="5";
print(a,b);
print(a+b);

4 5

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
print("hi" *4);

hihihihi

In [48]:
print(4*"hi");

hihihihi

In [49]:
print(4.0 * "hi");

TypeError: can't multiply sequence by non-int of type 'float'

In [50]:
print("hi" *"by ");

TypeError: can't multiply sequence by non-int of type 'str'

In [51]:
print("python is cool");

python is cool

In [54]:
print("is python \n cool?");

is python
 cool?

In [59]:
a= input("enter your age ");
print("your age is", a);

enter your age 12
your age is 12

In [60]:
#Input always by default take input as string
a = input("enter your age");
y = 12;
z = a+y;
print(z);

enter your age12

TypeError: can only concatenate str (not "int") to str

In [61]:
a = int(input("enter your age"));
y = 12;
z = a+y;
print(z);

enter your age12
24

In [62]:
a = (input("enter your age"));
y = 12;
z = int(a)+y;
print(z);

enter your age122
134

In [63]:
#Hash is single line comment
""" Three line inverted commas is multiline comment"""

' Three line inverted commas is multiline comment'

In [64]:
#IF ELSE ELIF 
#CONDITION STATEMENTS

In [66]:
age = int(input("what is your age"));

if age >= 18 :
    print("allow")
else:
    print("don not allow")

what is your age18
allow

In [68]:
husband = 1;
if husband == 1 :
    print("so far so good ");
#else:
 #   print("stay safe");

so far so good

In [72]:
x= 10;
y = 12;
c = 30;
d= 8;

if x+y != c-d:
    print("Both are equal");
else:
    print("not equals")

not equals

In [78]:
per = int(input("Enter percentage"));
if per >= 80 and per <= 100 :
    print("A+");
elif per >= 70 and per <= 80 :
    print("A");
elif per >= 60 and per <= 70 :
    print("B");
elif per >= 50 and per <= 60 :
    print("c");
elif per >= 40 and per <= 50 :
    print("D");
elif per <40:
    print("fail")
else:
    print("You didn't use an appropriate word");

Enter percentage89
A+

In [ ]:
#Nested if statement runs from left and right

In [93]:
a= 12;
b= 12;
c= 14;
d= 14;
e= 16;
f= 17;
g= 18;
h= 19;
x= 12;
y= 12;
 
if (x==y or a==b) and c==d :
 g=h
 print(g);
    
else:
 e=h
 print(e);

19

In [98]:
a= 12;
b= 12;
c= 14;
d= 14;
e= 16;
f= 17;
g= 18;
h= 19;
x= 13;
y= 12;

if c==d:
 if x==y:
  g = h
  print(g,h)
    
elif a==b:
 f==h
 print(f,h)
elif c==d:
 x=y
 print(x)

In [100]:
a= 12;
b= 12;
c= 14;
d= 14;
e= 16;
f= 17;
g= 18;
h= 19;
x= 12;
y= 12;

if c==d:
 if x==y:
  g = h
  print(g,h)
    
elif a==b:
 f==h
 print(f,h);
elif c==d:
 x=y
 print(x);

19 19

In [101]:
#List is group of elements

In [104]:
arr = [12, 12.09, 'mark', "numb", True]
print(arr)

[12, 12.09, 'mark', 'numb', True]

In [106]:
print(arr[1])

12.09

In [107]:
arr.append('umer');

In [108]:
print(arr)

[12, 12.09, 'mark', 'numb', True, 'umer']

In [109]:
arr

[12, 12.09, 'mark', 'numb', True, 'umer']

In [110]:
arr1 = arr +[ "umaaar", "ghous", 122]
print(arr1);

[12, 12.09, 'mark', 'numb', True, 'umer', 'umaaar', 'ghous', 122]

In [112]:
arr1.insert(2,"raza")

In [113]:
arr1

[12, 12.09, 'raza', 'mark', 'numb', True, 'umer', 'umaaar', 'ghous', 122]

In [115]:
arr2 = arr1[2:8]
arr2

['raza', 'mark', 'numb', True, 'umer', 'umaaar']

In [117]:
arr2[:7]
print(arr2)

['raza', 'mark', 'numb', True, 'umer', 'umaaar']

In [120]:
del arr2[1]
print(arr2)

['raza', 'numb', True, 'umer', 'umaaar']

In [121]:
arr2.remove("numb")
print(arr2)

['raza', True, 'umer', 'umaaar']

In [122]:
arr4 = arr2.pop()
print(arr4);

umaaar