In [71]:
#Topics Covered
"""
Introduction
How to get started with python
Types of operators
Types of errors
Keywords and Identifiers
Datatypes and typecasting
String slicing
Strings functions
Lists
Tuples
Swapping two numbers
Dictionaries
If-else and elif conditions
for loop
while loop
short hand if-else
"""

'\nIntroduction\nHow to get started with python\nTypes of operators\nTypes of errors\nKeywords and Identifiers\nDatatypes and typecasting\nString slicing\nStrings functions\nLists\nTuples\nSwapping two numbers\nDictionaries\nIf-else and elif conditions\nfor loop\nwhile loop\nshort hand if-else\n'

In [6]:
#father of Python
print("Guido Van Rossum (dutuch programmer) born in 31 jan 1956 is creator of Python programming language,"
    ,"for which he was benevolent dictator for life (BDFL) untill he steeped down the postion in July 2018")

Guido Van Rossum (dutuch programmer) born in 31 jan 1956 is creator of Python programming language, for which he was benevolent dictator for life (BDFL) untill he steeped down the postion in July 2018

In [7]:
print("Python was created in late 1980s")
print("Python was available in 1990s")
print("Python 2.0 was released in 2000")

Python was created in late 1980s
Python was available in 1990s
Python 2.0 was released in 2000

In [9]:
#Features of Python 
print("Simple, and Easy to learn")
print("Platform Independednt")
print("Case sensitive")
print("interpreted lang8uage")
print("Concise code")
print("free and open source code")

Simple, and Easy to learn
Platform Independednt
Case sensitive
interpreted lang8uage
Concise code
free and open source code

In [10]:
#Seven Types of Operartors
print("Artimetic, Assignment, Comparison, Logical, Bitwise,Idetity,Membership")

Artimetic, Assignment, Comparison, Logical, Bitwise,Idetity,Membership

In [11]:
#arthematic Operators
print("additiioin +, Subtractrion -, Multiplication *, Division /, Modulus %, Quotient //, Exponent ** :")

additiioin +, Subtractrion -, Multiplication *, Division /, Modulus %, Quotient //, Exponent ** :

In [12]:
#assignment Operators
print("+=, -=, *=, /=, **=, : ")
print(" Num+ = 1 (Augmented Shortcut) is similar to Num = +1")

+=, -=, *=, /=, **=, :
 Num+ = 1 (Augmented Shortcut) is similar to Num = +1

In [15]:
#Arthematic Operators
a = 10;
b = 20; 
c = a*b;
print(c)

200

In [16]:
#Assignment Operators
a = 11;
a += 1;
print(a);

12

In [17]:
#Comparison Opeators
print(" < , > ,  <=, >=, ==, != : ")

 < , > ,  <=, >=, ==, != :

In [18]:
#Comparison Operator
p = 10;
q = 12;
if (p==q):
    print("They are equals")
    
else:
    print("They are not equals")

They are not equals

In [19]:
p = 10;
q = 12;
if (p>q):
    print("P is greator")
    
else:
    print("Q is greator")

Q is greator

In [20]:
#Logical Operator
print("AND &, OR | , NOT! are logical operators ")

AND, OR , NOT are logical operators

In [21]:
print("Or works as additions")
print("And works as multiplications")
print("Not works as reverse")

Or works as additions
And works as multiplications
Not works as reverse

In [22]:
#Logical Operator
a = 10;
b = 20;
print("a or b is :", a|b)

a or b is : 30

In [23]:
#Logical Operator
a = 10;
b = 20;
print("a or b is :", a&b)

a or b is : 0

In [24]:
#Bitwise Operator
print("Bitwise AND &, bItwise OR |, Bitwise XOR ^, Bitwise NOT ~, Bitwise Left Shift <<, Bitwise right shift >>")

Bitwise AND &, bItwise OR |, Bitwise XOR ^, Bitwise NOT ~, Bitwise Left Shift <<, Bitwise right shift >>

In [28]:
#Identity Operator
print("is(return true if both variable are of same object i.e x is y)" ,
"and is not (return true if both variable are not of same object i.e x is not y) are identity operator")

is(return true if both variable are of same object i.e x is y) and is not (return true if both variable are not of same object i.e x is not y) are identity operator

In [29]:
#Identity Operators
x = 10;
z = x;
print(z is x)

True

In [31]:
x = 10;
z = x;
print(z is not x)

False

In [35]:
#MemberShip Operators
print("in and not in are Membership operators")
print("In return true if value/varaible found in sequence")
print("not in return true if value/variable not found in sequence")

in and not in are Membership operators
In return true if value/varaible found in sequence
not in return true if value/variable not found in sequence

In [37]:
x = "apple"
print("apple" in x)

True

In [40]:
#Types of Errors
print("Logical Errors")
print("This is a type of error in which your code will run in compliling but will not get desired output")
print("a multiply b is : ", a + b ) # + is logical error

Logical Errors
This is a type of error in which your code will run in compliling but will not get desired output
a multiply b is :  30

In [41]:
print("Syntax Error")
print("This type of error are like missing punctuations error, missing a brackets, missing a closed parenthesis etc")

Syntax Error
This type of error are like missing punctuations error, missing a brackets, missing a closed parenthesis etc

In [43]:
print("Run Type Errors")
print("this type of error occurs when we divide a numbers by zero, taking squre root of a negative numbers")

Run Type Errors
this type of error occurs when we divide a numbers by zero, taking squre root of a negative numbers

In [44]:
print('I am missing a quotations so this will be syntax error)

SyntaxError: EOL while scanning string literal (<ipython-input-44-eaa1d1fdcaa4>, line 1)

In [46]:
print('I am not missing a quotations so no error')

I am not missing a quotations so no error

In [49]:
if 2==3:
    print("Hello")
else if 2==2:  #Wrong syntax
    print("Good Bye")

SyntaxError: invalid syntax (<ipython-input-49-59e61eaceb25>, line 3)

In [50]:
if 2==3:
    print("Hello")
elif 2==2:
    print("Good Bye")

Good Bye

In [54]:
x= float(input("Enter A number"))
y= float(input("Enter another number"))

z = x + y/2 #logical error not shown during compilation
            #2 is not bt x, it is only divided by y
print(z)

Enter A number2
Enter another number4
4.0

In [52]:
x= float(input("Enter A number"))
y= float(input("Enter another number"))

z = (x + y)/2
print(z)

Enter A number2
Enter another number4
3.0

In [57]:
#Keyword and Identifiers
print("keywods are resrved words")
print("There are totals of 33 keywords in python language")

keywods are resrved words
There are totals of 33 keywords in python language

In [56]:
print("all the other keywords excepts TRUE, FALSE, and NONE are lower case")

all the other keywords excepts TRUE, FALSE, and NONE are lower case

In [60]:

#False	await	else	import	pass
#None	break	except	in	raise
#True	class	finally	is	return
#and	continue	for	lambda	try
#as	def	from	nonlocal	while
#assert	del	global	not	with
#async	elif	if	or	yield

In [62]:
"""
<!-- and	A logical operator -->
<!-- as	To create an alias -->
<!-- assert	For debugging -->
<!-- break	To break out of a loop -->
<!-- class	To define a class -->
<!-- continue	To continue to the next iteration of a loop -->
<!-- def	To define a function -->
<!-- del	To delete an object -->
<!-- elif	Used in conditional statements, same as else if -->
<!-- else	Used in conditional statements -->
<!-- except	Used with exceptions, what to do when an exception occurs -->
<!-- False	Boolean value, result of comparison operations -->
<!-- finally	Used with exceptions, a block of code that will be executed no matter if there is an exception or not -->
<!-- for	To create a for loop -->
<!-- from	To import specific parts of a module -->
<!-- global	To declare a global variable -->
<!-- if	To make a conditional statement -->
<!-- import	To import a module -->
<!-- in	To check if a value is present in a list, tuple, etc. -->
<!-- is	To test if two variables are equal -->
<!-- lambda	To create an anonymous function -->
<!-- None	Represents a null value -->
<!-- nonlocal	To declare a non-local variable -->
<!-- not	A logical operator -->
<!-- or	A logical operator -->
<!-- pass	A null statement, a statement that will do nothing -->
<!-- raise	To raise an exception -->
<!-- return	To exit a function and return a value -->
<!-- True	Boolean value, result of comparison operations -->
<!-- try	To make a try...except statement -->
<!-- while	To create a while loop -->
<!-- with	Used to simplify exception handling -->
<!-- yield	To end a function, returns a generator -->"""

'\n<!-- and\tA logical operator -->\n<!-- as\tTo create an alias -->\n<!-- assert\tFor debugging -->\n<!-- break\tTo break out of a loop -->\n<!-- class\tTo define a class -->\n<!-- continue\tTo continue to the next iteration of a loop -->\n<!-- def\tTo define a function -->\n<!-- del\tTo delete an object -->\n<!-- elif\tUsed in conditional statements, same as else if -->\n<!-- else\tUsed in conditional statements -->\n<!-- except\tUsed with exceptions, what to do when an exception occurs -->\n<!-- False\tBoolean value, result of comparison operations -->\n<!-- finally\tUsed with exceptions, a block of code that will be executed no matter if there is an exception or not -->\n<!-- for\tTo create a for loop -->\n<!-- from\tTo import specific parts of a module -->\n<!-- global\tTo declare a global variable -->\n<!-- if\tTo make a conditional statement -->\n<!-- import\tTo import a module -->\n<!-- in\tTo check if a value is present in a list, tuple, etc. -->\n<!-- is\tTo test if two variables are equal -->\n<!-- lambda\tTo create an anonymous function -->\n<!-- None\tRepresents a null value -->\n<!-- nonlocal\tTo declare a non-local variable -->\n<!-- not\tA logical operator -->\n<!-- or\tA logical operator -->\n<!-- pass\tA null statement, a statement that will do nothing -->\n<!-- raise\tTo raise an exception -->\n<!-- return\tTo exit a function and return a value -->\n<!-- True\tBoolean value, result of comparison operations -->\n<!-- try\tTo make a try...except statement -->\n<!-- while\tTo create a while loop -->\n<!-- with\tUsed to simplify exception handling -->\n<!-- yield\tTo end a function, returns a generator -->'

In [69]:
#Identifiers 
print("Identifiers are basically name given to Class, Functions,Variables",
     "helps to differentiate only one entity from another ")
#Rules for Identifiers
print( "Identifiers can't be start with a digit,can be of any length,"
      ," keywords can't be used, specials symbols not allowed, can be combination of two words using underscore")

Identifiers are basically name given to Class, Functions,Variables helps to differentiate only one entity from another
Identifiers can't be start with a digit,can be of any length,  keywords can't be used, specials symbols not allowed, can be combination of two words using underscore

In [77]:
def my_func(a,b):  #Def is keywords
    c = a+b; # c is idenfiers
    print(c)

In [78]:
def my_func(a,b):  #Def is keywords
    c = a+b; # c is idenfiers
    print(c)

In [83]:
#Variables
print("variable is a reserved memory location to store values")
print("Variables are containers for storing data values.")

variable is a reserved memory location to store values
Variables are containers for storing data values.

In [82]:
#DataType and Typecasting
print("variables can hold values and values contain data types")
print("Data types are the classification or categorization of data items.:"
      " It represents the kind of value that tells what operations can be performed on a particular data."
     "integers, floating point numbers, and complex numbers are three distinct numeric types: ")
x = 10; #x is variable and 10 is datatype

variables can hold values and values contain data types
Data types are the classification or categorization of data items.: It represents the kind of value that tells what operations can be performed on a particular data.integers, floating point numbers, and complex numbers are three distinct numeric types:

In [85]:
#Data types in Python

""""

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
    
"""

'"\n\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\n    \n'

In [86]:
#Data types
print(" Numeric, Dictionary, Boolean, Set,  Sequence set")

 Numeric, Dictionary, Boolean, Set,  Sequence set

In [50]:
print("In Numeric we have integers, Floating values and Complex numbers")

In Numeric we have integers, Floating values and Complex numbers

In [88]:
print("In sequence set we have Strings, list and tuples")

In sequence set we have Strings, list and tuples

In [89]:
#Typecasting
print("type casting is conversioin of one datatype in to another")

type casting is conversioin of one datatype in to another

In [90]:
print("It can be implicit and Explicit ")

It can be implicit and Explicit

In [94]:
print("Impicit typecasting is type of typecasting in which datatype is automatically converted to another types")
print("In which we need not to mentions the values, automatically performed by complier") 
num_int = 10;
num_flo = 12.4;
num_new = num_int + num_flo;
print(type(num_int))
print(type(num_flo))
print(type(num_new))
print(num_new)

#lowest to Highest Value Datatypes
print(" char short int, int, unsigned int, long int, unsigned long int, float, double, long double ")

Impicit typecasting is type of typecasting in which datatype is automatically converted to another types
In which we need not to mentions the values, automatically performed by complier
<class 'int'>
<class 'float'>
<class 'float'>
22.4

In [95]:
#Explicit type casting
print("By default the compiler doesn't allow explicit typecating")
print("In this type of conversion user has to convert the data type from one to another") 
print("Syntax : required_datatype(Expression)")

By default the compiler doesn't allow explicit typecating
In this type of conversion user has to convert the data type from one to another
Syntax : required_datatype(Expression)

In [96]:
num_int = 123;
num_str = "124";
print(type(num_int))
print(type(num_str))
num_str = int(num_str)

num_sum = num_int + num_str;
print(type(num_sum))
print(num_sum)

<class 'int'>
<class 'str'>
<class 'int'>
247

In [97]:
print(type(123))
print(type("hello world"))
x = True
print(type(x))

<class 'int'>
<class 'str'>
<class 'bool'>

In [98]:
#String Slicing
print("String slicing is obtaining a sub string from a string")
print("Slicing starts with first index and ends with last index")

String slicing is obtaining a sub string from a string
Slicing starts with first index and ends with last index

In [11]:
my_str = "Zain is Good Football player"
print(len(my_str))
print(my_str[1:9])
print(len(my_str[1:9]))
print(my_str[:9])
print(my_str[:])
print(my_str[0:22:2])
print(my_str[::])
print(my_str[0:14:2])
print(my_str[:2])
print(my_str[0:22])
print(my_str[0:28:1])
#When we move from right to left we are giving negative index
print(my_str[-6:-1])
print(my_str[-6:-2])
print(my_str[22:28])
print(my_str[::-1])
print(my_str[::1])
print(my_str[::2])
print(my_str[::-2])

28
ain is G
8
Zain is G
Zain is Good Football player
Zi sGo otal
Zain is Good Football player
Zi sGo
Za
Zain is Good Football
Zain is Good Football player
playe
play
player
reyalp llabtooF dooG si niaZ
Zain is Good Football player
Zi sGo otalpae
ryl lboFdo ina

In [6]:
print(my_str[-6:-2])

play

In [23]:
#String Fuctions
my_str ="Hello to future data scientist"
print(my_str.isalnum())
mystr ="Hellotofuturedatascientist"
print(mystr.isalnum())
print(my_str.endswith("scientist"))
print(my_str.endswith("Scientist"))
print(my_str.count("e"))
print(my_str.count("a"))
print(my_str.capitalize())
print(my_str.find("future"))
print(my_str.lower())
print(my_str.upper())

False
True
True
False
3
2
Hello to future data scientist
9
hello to future data scientist
HELLO TO FUTURE DATA SCIENTIST

In [40]:
#List 
#Data Type
#Enclosed in a Square Braket
#List are mutable (can change)
stat = ["Books", "Pens","Stuff", 23,455]
print(stat)
print(stat[0])
print(stat[1])
digits = [5,3,6,7,8,9]
print(digits)
digits.sort()
print(digits)
for i in digits:
    print(i)
digits.reverse()
print(digits)
print(digits[1:4])
print(len(digits))
print(max(digits))
print(min(digits))
digits.append(12)
print(digits)
digits.insert(3,13)
print(digits)
digits.remove(13)
print(digits)

['Books', 'Pens', 'Stuff', 23, 455]
Books
Pens
[5, 3, 6, 7, 8, 9]
[3, 5, 6, 7, 8, 9]
3
5
6
7
8
9
[9, 8, 7, 6, 5, 3]
[8, 7, 6]
6
9
3
[9, 8, 7, 6, 5, 3, 12]
[9, 8, 7, 13, 6, 5, 3, 12]
[9, 8, 7, 6, 5, 3, 12]

In [47]:
#Tuple
#Data Type
#Enclosed in round brackets
#Tuple are immutable (can not change)
des = (1,2,34,5,56)
print(des)
desc = 1,2,3,4,5
print(desc)
print(len(des))
print(desc[1:3])
print(desc[:-2])

(1, 2, 34, 5, 56)
(1, 2, 3, 4, 5)
5
(2, 3)
(1, 2, 3)

In [48]:
#Swapping of Two Numbers
#old Methods
a = 2;
b = 3;
temp = a;
a = b;
b = temp;
print(a,b)

3 2

In [49]:
#Swapping using python
a=1;
b=2;
a,b=b,a
print(a,b)

2 1

In [69]:
#Dictionary
#Data Type 
#Enclosed in curly brackets
#Consist of keys and Values
d1 = {}
print(type(d1))
d2 = {"m":"man", "k":"karachi", "d":"danger", "S":"Shopping", "M":{"mon":"movie", "tue":"shopingg","wed":"outing"}}
print(d2)
print(d2["k"])
print(d2["M"])
print(d2["M"]["tue"])
d2["zain"]="Football"
print(d2)
del d2["zain"]
print(d2)
d3 = d2
d3 = d2.copy()
#print(d2)
print(d3)
print(d2.get("M"))
print(d2.get("k"))
d2.update({"k":"khairpur"})
print(d2)
print(d2.keys())
print(d2.values())

<class 'dict'>
{'m': 'man', 'k': 'karachi', 'd': 'danger', 'S': 'Shopping', 'M': {'mon': 'movie', 'tue': 'shopingg', 'wed': 'outing'}}
karachi
{'mon': 'movie', 'tue': 'shopingg', 'wed': 'outing'}
shopingg
{'m': 'man', 'k': 'karachi', 'd': 'danger', 'S': 'Shopping', 'M': {'mon': 'movie', 'tue': 'shopingg', 'wed': 'outing'}, 'zain': 'Football'}
{'m': 'man', 'k': 'karachi', 'd': 'danger', 'S': 'Shopping', 'M': {'mon': 'movie', 'tue': 'shopingg', 'wed': 'outing'}}
{'m': 'man', 'k': 'karachi', 'd': 'danger', 'S': 'Shopping', 'M': {'mon': 'movie', 'tue': 'shopingg', 'wed': 'outing'}}
{'mon': 'movie', 'tue': 'shopingg', 'wed': 'outing'}
karachi
{'m': 'man', 'k': 'khairpur', 'd': 'danger', 'S': 'Shopping', 'M': {'mon': 'movie', 'tue': 'shopingg', 'wed': 'outing'}}
dict_keys(['m', 'k', 'd', 'S', 'M'])
dict_values(['man', 'khairpur', 'danger', 'Shopping', {'mon': 'movie', 'tue': 'shopingg', 'wed': 'outing'}])

In [70]:
#If else condition
var1 = 2;
var2 = 3;
var3 = int(input("enter the third integer: "))

if var3>var2:
    print("var3 is greater")
    
else:
    print("lesser")

enter the third integer: 4
var3 is greater

In [72]:
#If else elif condition
var1 = 2;
var2 = 3;
var3 = int(input("enter the third integer: "))

if var3>var2:
    print("var3 is greater")
elif var3==var2:
    print("equals")
else:
    print("lesser")

enter the third integer: 3
equals

In [73]:
list1 = [1,4,7]

if 15 in list1:
    print("yes")
    
if 15 not in list1:
    print("not in list")

not in list

In [75]:
#For Loops
list1 = [1,2,3,5,6,7,8]
print(list1)
for item in list1:
    print(item)

[1, 2, 3, 5, 6, 7, 8]
1
2
3
5
6
7
8

In [78]:
list1 = [["m",1],["k",2],["d",3]]
print(list1)
for item, itm in list1:
    print(item,itm)
   # print(itm)

[['m', 1], ['k', 2], ['d', 3]]
m 1
1
k 2
2
d 3
3

In [3]:
#While Loops
a = 0;
while (a<14):
    a = a+1
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [4]:
a = 0;
while (a<14):
   
    print(a)
    a = a+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [7]:
#Short Hand If else Condition
a = int(input("Enter the number \n"))
b = int(input("Enter another number \n"))
if a>b: print("A is greater")
#Not preferred to used short hand if else as it is not obvious to most of peoples

Enter the number
4
Enter another number
2
A is greater

In [2]:
a = int(input("Enter the number \n"))
b = int(input("Enter another number \n"))
print("A is Greater than B") if a>b  else print("B is Greater")

Enter the number
2
Enter another number
4
B is Greater