In [1]:
english= int(input("enter english marks"));
islamyat= int(input("enter islamyat marks"));
math= int(input("enter math marks"));


tot=300;
obt= english + math + islamyat;


per= (obt/tot)*100;

if per>=80 and per < 100:
    print("A+");

elif per>=70 and per < 80:
    print("A");
    
elif per>=60 and per < 70:
    print("B");
    
elif per>=50 and per < 60:
    print("C");
    
elif per>=40 and per < 50:
    print("C");
    
elif per>=33 and per < 40:
    print("D");
    
elif per<33 :
    print("Fail");
    
elif per <0 or per >100:
    print("You didn't input a write value");
    
else:
    print("fail");

enter english marks89
enter islamyat marks72
enter math marks57
A

In [2]:
x=3**2;
print(x);

9

In [3]:
y=3**4;
print(y);

81

In [7]:
print("Hello\nWorld");

Hello
World

In [11]:
x=10;
y=12;
a=30;
b=8;

if x+y==a-b:

 print(True)
else:
 print(False);

True

In [13]:
age= int(input("Enter your age"));
gender= input("enter your gender");

if age >20 and gender =="male":
 print("allow");
else:
 print("do not allow");

Enter your age23
enter your gendermale
allow

In [14]:
age= int(input("Enter your age"));
gender= input("enter your gender");

if age >20 or gender =="male":
 print("allow");
else:
 print("do not allow");

Enter your age18
enter your gendermale
allow

In [15]:
#Learning List
""""We are learning
list through this course"""

print("Hello World");

Hello World

In [16]:
#learning list

list1 = [12, 3, 4];
print(list1);

[12, 3, 4]

In [22]:
name1 ="osama";
name2 = "zain";
name3 ="asad";
name4 ="sam";
print(name1+","+name2+","+name3+","+name4);

osama,zain,asad,sam

In [26]:
name=["osama", "zain"," asad", "sam"];
print(name);

['osama', 'zain', ' asad', 'sam']

In [27]:
name=['osama', 'zain'];
print(name);

['osama', 'zain']

In [28]:
print(name[0]);

osama

In [29]:
name[1]="ali";
print(name);

['osama', 'ali']

In [30]:
name.append("ahmed");
print(name);

['osama', 'ali', 'ahmed']

In [33]:
arr= ["panda", 12, True, 5.6, "ali"];
print(arr);

['panda', 12, True, 5.6, 'ali']

In [34]:
name

['osama', 'ali', 'ahmed']

In [35]:
newList = name + arr;

In [36]:
print(newList);

['osama', 'ali', 'ahmed', 'panda', 12, True, 5.6, 'ali']

In [44]:
name.insert(2, "rashid");
print(name);

AttributeError: 'NoneType' object has no attribute 'insert'

In [38]:
name

['osama', 'ali', 'ahmed']

In [40]:
arr

['panda', 12, True, 5.6, 'ali']

In [43]:
arr.insert(3,"aly");
print(arr);

['panda', 12, True, 'aly', 5.6, 'ali']

In [45]:
newList.insert(4,"samy");
print(newList);

['osama', 'ali', 'ahmed', 'panda', 'samy', 12, True, 5.6, 'ali']

In [46]:
arr2 = arr[2:5];
print(arr2);

[True, 'aly', 5.6]

In [47]:
arr

['panda', 12, True, 'aly', 5.6, 'ali']

In [48]:
#[2;5] is slicing

In [50]:
arr3 = arr[:5];
print(arr3);

['panda', 12, True, 'aly', 5.6]

In [51]:
arr3 = arr[:];
print(arr3);

['panda', 12, True, 'aly', 5.6, 'ali']

In [53]:
del arr[2];
print(arr);

['panda', 12, 5.6, 'ali']

In [55]:
# through remove we can remove an element by its value
arr.remove(12);
print(arr);

['panda', 5.6, 'ali']

In [57]:
arr.pop();
print(arr);

['panda', 5.6]